.section_contacts {
  position: fixed;
  bottom: 0;
  z-index: -1;
  width: 100%;

  .wrapper_section-content {
    width: 90%;
  }

  .headline {
    font-size: 3.5rem;
    text-align: center;
  }

  @media screen and (max-width: 400px) {
    .headline {
      text-align: left;
    }
  }
}
